 .btn-default{
    background-color: #9e9e9ee0;
  }
  .thumbnail{
    width: 120px;
  }
  .thumbnail img{
    width: 100%;
  }
 /* .ui-datepicker-calendar
  {
  	background-color: aliceblue;
  }*/
  .btn-small{
    padding: 0px 0.7rem;
    text-transform: unset;
    margin-bottom: 20px;
    /*line-height: 29.4px;*/
  }
  @media screen and (max-width: 600px) {
     .btn-small{
        padding: 0px 0.7rem;
        text-transform: unset;
        margin-bottom: 5px;
        
      }

}
  #name-error,#type-error{
    color: red;
  }
  .nav-wrapper{
    line-height: 40px;
  }
  .viewpet{
    background-color: #ffffff;
    height: unset;

  }

  .viewpettabs a.active{
    border-bottom: 4px solid #f3565d;
    position: relative;
  }
  li a{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  .tabs .tab
  {
    line-height: 43px;

   
    height: 48px;
   border: 1px solid white;
   border-radius: 5px;
   text-transform: unset;
    font-weight: bold;
  }
  .tabs .tab a
{
  padding: 0px 10px;
}
table.dataTable, table.dataTable th, table.dataTable td {
    box-sizing: inherit;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.avatar-status{
      padding-top: 10px;

}
.label-danger{
  background-color: #dd4b39;
}
.label-primary{
background-color: #3c8dbc !important;
}
.tab-pane{
  padding-top: 15px;
}
.created_by{
  float: right;
  color: rgba(255, 255, 255, .85);
}
.btn-floating i {
    font-size: 1.3rem ; 
    line-height: 32px;
}
.btn-floating {
    
    width: 32px;
    height: 32px;
    
}
.table-bordered {
    border: 1px solid #f4f4f4;
}
.brand-sidebar .logo-wrapper a.navbar-toggler i
{
    
    line-height: unset; 

    display: initial;

   
}
.dropdown-content li > a, .dropdown-content li > span {
    padding: 14px 14px;
}
  .maincardDiv{
  padding: 0px !important;
}
.row .col {
    padding: 0.5rem;
}

  .input-icon {
        position: relative;
      }

      .input-icon > i {
        position: absolute;
        display: block;
        transform: translate(0, -50%);
        top: 50%;
        pointer-events: none;
        width: 25px;
        text-align: center;
          font-style: normal;

      }


      .input-icon > input {
        padding-left: 20px !important;
          padding-right: 0 !important;
          margin: 0px !important;
      }
      .card .card-content {
          padding: 10px;
      }
      @keyframes shadow-pulse
      {
        0% {
          box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
        }
        100% {
          box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
        }
      }

      @keyframes shadow-pulse-big
      {
        0% {
          box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
        }
        100% {
          box-shadow: 0 0 0 30px rgba(0, 0, 0, 0);
        }
      }