.kennel_position{
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
    font-size: 14px !important;
}
.petpic {
    width: 90%;
    max-width: 135px;
    margin: 0% 0%;
    margin-top:10px;
  }
  
  .pet-circle {
    position: relative;
    width: 124px;
    height:124px;
    padding-top: 0%;
    border-radius: 50%;
    background-color: white;
  }
    .pet-circle:before {
      position: absolute;
      content: "";
      width: 130px;
      height: 130px;
      top: -2%;
      left: -2%;
      background-color: white;
      border-radius: 50%;
      z-index: 2;
      background-color: #fff;
    }
    .pet-circle:after {
      position: absolute;
      content: "";
      width: 137px;
      height: 137px;
      top: -6px;
      left: -6px;
      background-color: #605ca8;
      background-image: linear-gradient(to right bottom,#605ca8,#804FB3,#B589D6,#9969C7);
      border-radius: 50%;
      z-index: 1;
    }
  
    .pet-wrapper {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 1px;
      border-radius: 50%;
      overflow: hidden;
      z-index: 11;
  }
  .img-profile {
      position: absolute;
      top: 0;
      left: 0%;
      height: 100%;
  }
.margin_top{
    margin-top:35px !important;
}
.colorC{
    color: black;
}

.inactivePet{
    width: 135px;
    height: 135px;
    border-radius: 50%;
    margin-top: 3px;
}
.anchor:hover{
    color: black !important;
}

.tm{
  width: 100%;
  padding: 0px;
  margin: auto;
}

.timeline{
  position: relative;
}

.timeline li{
  list-style: none;
  float: left;
  width: 33.33%;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.timeline li:before{
    content: " ";
    width: 20px;
    height: 20px;
    border: 2px solid #605ca8;
    border-radius: 50%;
    display: block;
    text-align: center;
    line-height: 50px;
    margin: 0 auto 10px auto;
    background: #fff;
    transition: all ease-in-out .3s;
    cursor: pointer;
}

.timeline li:after{
  content: "";
  position: absolute;
  width: 96%;
  height: 1px;
  /* background-color: #605ca8; */
  background: linear-gradient(to right, #4CAF50 , #f39c12) !important;
  top: 10px;
  left: -48%;
  z-index: 999;
  transition: all ease-in-out .3s;
}

.timeline li:first-child:after{
  content: none;
}

.timeline li.active-tl:before{
  background: #605ca8;
}
li.confirm-tl:before {
    border: 2px solid #4CAF50 !important;
}
li.confirmed-tl:before {
    background: #4CAF50 !important;
    border: 2px solid #4CAF50 !important;
}
li.checkIn-tl:before {
    border: 2px solid #f39c12 !important;
}
li.checkedIn-tl:before {
    background:#f39c12 !important;
    border: 2px solid #f39c12 !important;
}
li.complete-tl:before{
    border: 2px solid #00C0EF !important;
}
li.completed-tl:before{
    background: #00C0EF !important;
    border: 2px solid #00C0EF !important;
}
.timeline li.active-tl + li:after{
  background: #605ca8;
}

.timeline1 li{
  list-style: none;
  float: left;
  width: 25%;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.timeline1 li:before{
    content: " ";
    width: 20px;
    height: 20px;
    border: 2px solid #605ca8;
    border-radius: 50%;
    display: block;
    text-align: center;
    line-height: 50px;
    margin: 0 auto 10px auto;
    background: #fff;
    transition: all ease-in-out .3s;
    cursor: pointer;
}

.timeline1 li:after{
  content: "";
  position: absolute;
  width: 93%;
  height: 1px;
  /* background-color: #605ca8; */
  background: linear-gradient(to right, #4CAF50 , #f39c12) !important;
  top: 10px;
  left: -47%;
  z-index: 999;
  transition: all ease-in-out .3s;
}

.timeline1 li:first-child:after{
  content: none;
}

.timeline1 li.active-tl:before{
  background: #605ca8;
}

.timeline1 li.active-tl + li:after{
  background: #605ca8;
}

@media only screen and (max-width: 280px) {
    .btn-danger {
        font-size: 8px;
        width: 85px;
    }
    .btn-secondary {
        margin-bottom: 5px;
    }
    .petpic{
        text-align: center !important;
        margin-top: 0% !important;
        margin-left: 9% !important;
        margin-bottom: 10% !important;
    }
    .datapet{
        margin-top: 5% !important;
        margin-right: 8% !important;
        margin-bottom: 5% !important;
    }
    .breedtext{
        text-align: center;
        margin-left: 38% !important;
    }
    .kennel{
        margin-right: -25% !important;
        margin-top: -24% !important;
    }
    .cancel_btn{
        margin-right: -25% !important;
        margin-top: -26%;
    }
    .timeline li:after {
        width: 55%;
        left: -92%;
    }
    .timeline li:before {
        margin-left: -40% !important;
    }
    .timeline1 li:after {
        width: 66%;
        left: -126%;
    }
    .timeline1 li:before {
        margin-left: -70% !important;
    }
}
@media (min-width: 281px) and (max-width: 320px) {
    .btn-danger {
        font-size: 8px;
    }
    .petpic{
        text-align: center !important;
        margin-top: 0% !important;
        margin-left: 17% !important;
        margin-bottom: 10% !important;
    }
    .datapet{
        margin-top: 5% !important;
        margin-right: 12% !important;
        margin-bottom: 5% !important;
    }
    .breedtext{
        text-align: center;
        margin-left: 40% !important;
    }
    .kennel{
        margin-right: -14% !important;
        margin-top: -18% !important;
    }
    .cancel_btn{
        margin-right: -14% !important;
        margin-top: -20%;
    }
    .timeline li:after {
        width: 70%;
        left: -92%;
    }
    .timeline li:before {
        margin-left: -25% !important;
    }
    .timeline1 li:after {
        width: 56%;
        left: -99%;
    }
    .timeline1 li:before {
        margin-left: -45% !important;
    }
}
@media (min-width: 321px) and (max-width: 360px) {
    .btn-danger {
        font-size: 10px;
    }
    .petpic{
        text-align: center !important;
        margin-top: 0% !important;
        margin-left: 22% !important;
        margin-bottom: 6% !important;
    }
    .datapet{
        margin-top: 5% !important;
    }
    .breedtext{
        text-align: center;
        margin-left: 40% !important;
    }
    .kennel{
        margin-right: -10% !important;
        margin-top: -14% !important;
    }
    .cancel_btn{
        margin-right: -10% !important;
        margin-top: -16%;
    }
    .timeline li:after {
        width: 71%;
        left: -77%;
    }
    .timeline li:before {
        margin-left: -5% !important;
    }
    .timeline1 li:after {
        width: 62%;
        left: -92%;
    }
    .timeline1 li:before {
        margin-left: -30% !important;
    }
}
@media (min-width: 361px) and (max-width: 375px) {
    .petpic{
        text-align: center !important;
        margin-top: 0% !important;
        margin-left: 24% !important;
        margin-bottom: 10% !important;
    }

    .datapet{
        margin-top: 5% !important;
        margin-right: 8% !important;
        margin-left: 0% !important;
        margin-bottom: 5% !important;
    }
    .breedtext{
        text-align: center;
        margin-left: 42% !important;
    }
    .kennel{
        margin-right: -10% !important;
        margin-top: -14% !important;
    }
    .cancel_btn{
        margin-right: -10% !important;
        margin-top: -16%;
    }
    .timeline li:after {
        width: 70%;
        left: -78%;
    }
    .timeline li:before {
        margin-left: -5% !important;
    }
    .timeline1 li:after {
        width: 72%;
        left: -79%;
    }
    .timeline1 li:before {
        margin-left: -15% !important;
    }
}

@media (min-width: 376px) and (max-width: 411px) {
    .petpic{
        text-align: center !important;
        margin-top: 0% !important;
        margin-left: 27% !important;
        margin-bottom: 6% !important;
    }
    .datapet{
        margin-top: 5% !important;
    }
    .breedtext{
        text-align: center;
        margin-left: 43% !important;
    }
    .kennel{
        margin-right: -10% !important;
        margin-top: -12% !important;
    }
    .cancel_btn{
        margin-right: -10% !important;
        margin-top: -14%;
    }
    .timeline li:after {
        width: 76%;
        left: -82%;
    }
    .timeline li:before {
        margin-left: -5% !important;
    }
    .timeline1 li:after {
        width: 81%;
        left: -92%;
    }
    .timeline1 li:before {
        margin-left: -10% !important;
    }
}
@media (min-width: 412px) and (max-width: 420px) {
    .petpic{
        text-align: center !important;
        margin-top: 0% !important;
        margin-left: 28% !important;
        margin-bottom: 10% !important;
    }
    .datapet{
        margin-top: 5% !important;
        margin-right: 8% !important;
        /* margin-left: -2% !important; */
        margin-bottom: 5% !important;
    }
    .breedtext{
        text-align: center;
        margin-left: 45% !important;
    }
    .kennel{
        margin-right: -10% !important;
        margin-top: -12% !important;
    }
    .cancel_btn{
        margin-right: -10% !important;
        margin-top: -14%;
    }
    .timeline li:after {
        width: 76%;
        left: -82%;
    }
    .timeline li:before {
        margin-left: -5% !important;
    }
    .timeline1 li:after {
        width: 81%;
        left: -92%;
    }
    .timeline1 li:before {
        margin-left: -10% !important;
    }
}
@media (min-width: 421px) and (max-width: 450px) {
    .petpic{
        text-align: center !important;
        margin-top: 0% !important;
        margin-left: 30% !important;
        margin-bottom: 10% !important;
    }
    .datapet{
        margin-top: 5% !important;
        margin-right: 8% !important;
        margin-bottom: 5% !important;
    }
    .breedtext{
        text-align: center;
        margin-left: 43% !important;
    }
    .kennel{
        margin-right: -10% !important;
        margin-top: -12% !important;
    }
    .cancel_btn{
        margin-right: -10% !important;
        margin-top: -14%;
    }
    .timeline li:after {
        width: 76%;
        left: -82%;
    }
    .timeline li:before {
        margin-left: -5% !important;
    }
    .timeline1 li:after {
        width: 81%;
        left: -92%;
    }
    .timeline1 li:before {
        margin-left: -10% !important;
    }
}
@media (min-width: 768px) and (max-width: 780px) {
    .petimage{
        text-align: center !important;
        margin-top: 0% !important;
        margin-left: -3% !important;
        margin-bottom: 10% !important;
    }
    .datapet{
        margin-top: 5% !important;
        margin-right: 8% !important;
        margin-left: 12% !important;
        margin-bottom: 5% !important;
    }
    .breedtext{
        margin-left: 12% !important;
    }
    .colorC {
        margin-left: 12% !important;
    }
    .col-md-8{
        max-width: 60% !important;
    }
    .col-md-2 {
        max-width: 22%;
    }
    .kennel{
        color: black;
        margin-right: -24% !important;
    }
    .cancel_btn{
        width: 89px;
    }
}
