.datetable{
    width: 30% !important;
}
.btn-print {
    border-color: white;
    background-color: #f4f4f4;
    color: black;
    margin-top: -15px;
    width: 56px;
    font-weight: bold;
 }
 .btn-print:hover {
    border-color: black;
    color: black;
 }
 .checkout{
    border-color: #605ca8; 
    background-color: #605ca8;
    color:white; 
    margin-bottom:0px !important;
    padding-bottom: 6px !important;
 }
 .confirmed{
    border-color: #3b9428; 
    background-color: #3b9428;
    color:white; 
    margin-bottom:0px !important;
    padding-bottom: 6px !important;
 }
 .transaction{
    border-color: #f39c12; 
    background-color: #f39c12;
    color:white; 
    margin-bottom:0px !important;
    padding-bottom: 6px !important;
 }
 .bold{
    font-weight: bold;
 }
   /* Firefox old*/
@-moz-keyframes blink {
  0% {
      opacity:1;
  }
  50% {
      opacity:0;
  }
  100% {
      opacity:1;
  }
} 

@-webkit-keyframes blink {
  0% {
      opacity:1;
  }
  50% {
      opacity:0;
  }
  100% {
      opacity:1;
  }
}
/* IE */
@-ms-keyframes blink {
  0% {
      opacity:1;
  }
  50% {
      opacity:0;
  }
  100% {
      opacity:1;
  }
} 
/* Opera and prob css3 final iteration */
@keyframes blink {
  0% {
      opacity:1;
  }
  50% {
      opacity:0;
  }
  100% {
      opacity:1;
  }
} 
.blink-paid {
 color: green;
  -moz-animation: blink normal 2s infinite ease-in-out; /* Firefox */
  -webkit-animation: blink normal 2s infinite ease-in-out; /* Webkit */
  -ms-animation: blink normal 2s infinite ease-in-out; /* IE */
  animation: blink normal 2s infinite ease-in-out; /* Opera and prob css3 final iteration */
}

@media (min-width: 281px) and (max-width: 320px) {
    .invoice_no{
        text-align: right;
        margin-top: -25px;
    }
    .confirmed{
        margin-top: -22px;
        margin-left: 112px;
    }
}
@media (min-width: 321px) and (max-width: 360px) {
    .invoice_no{
        text-align: right;
        margin-top: -25px;
    }
    .checkout{
        margin-top: -22px;
        margin-left: 140px;
    }
    .confirmed{
        margin-top: -22px;
        margin-left: 150px;
    }
}
@media (min-width: 361px) and (max-width: 375px) {
    .invoice_no{
        text-align: right;
        margin-top: -25px;
    }
    .checkout{
        margin-top: -22px;
        margin-left: 154px;
    }
    .confirmed{
        margin-top: -22px;
        margin-left: 167px;
    }
}

@media (min-width: 376px) and (max-width: 411px) {
    .invoice_no{
        text-align: right;
        margin-top: -25px;
    }
    .checkout{
        margin-top: -22px;
        margin-left: 190px;
    }
    .confirmed{
        margin-top: -22px;
        margin-left: 202px;
    }
}
@media (min-width: 412px) and (max-width: 420px) {
    .invoice_no{
        text-align: right;
        margin-top: -25px;
    }
    .checkout{
        margin-top: -22px;
        margin-left: 194px;
    }
    .confirmed{
        margin-top: -22px;
        margin-left: 206px;
    }
}
@media (min-width: 421px) and (max-width: 450px) {
    .invoice_no{
        text-align: right;
        margin-top: -25px;
    }
    .checkout{
        margin-top: -22px;
        margin-left: 230px;
    }
    .confirmed{
        margin-top: -22px;
        margin-left: 242px;
    }
}
@media (min-width: 768px) and (max-width: 780px) {
    .checkout{
        margin-right: -7px;
    }
    .confirmed{
        margin-right: -10px;
    }
}
