/* #paymentsList{
    border: none;
    overflow-x: hidden !important;
} */
.avatar-xs {
    width: 36px;
    height: 24px;
}
.paddingDrop{
    padding-left: 5px;
}
#paymentsList_filter,#paymentsList_length,#paymentsList_info{
    display: none !important;
}
table.dataTable.no-footer {
    border-bottom: none!important;
}
.table td {
    padding: 0.75rem;
    vertical-align: top !important;
    border-top: 1px solid #e3ebf3 !important;
}
.table td {
    border-bottom: none;
}
.table thead th {
    vertical-align: bottom;
    border-top: 1px solid #e3ebf3;
    border-bottom: 1px solid #e3ebf3 !important;
}
input[type="radio"] {
    margin-top: 3px !important;
}
.radioAlign{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.pagination .page-link {
    color: #605ca8 !important;
    border: 1px solid #605ca8 !important;
}
.page-item.active .page-link {
    z-index: 1 !important;;
    color: #fff !important;;
    background-color: #605ca8 !important;;
    border-color: #605ca8 !important;;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #605ca8;
    border-color: #605ca8;
}
/* .borderActive{
    border: 2px solid transparent; 
    border-image: linear-gradient(to right bottom,#605ca8,#804FB3,#B589D6,#9969C7); 
    border-image-slice: 1;
    border-radius: 0.35rem !important;
} */
.borderActive::after {
    position: absolute;
    top: -2px; bottom: -2px;
    left: -2px; right: -2px;
    background: linear-gradient(to right bottom,#605ca8,#804FB3,#B589D6,#9969C7);
    content: '';
    z-index: -1;
    border-radius: 0.55rem !important;
}
/* .borderInactive::after {
    position: absolute;
    top: -2px; bottom: -2px;
    left: -2px; right: -2px;
    background: linear-gradient(to right bottom,white,white);
    content: '';
    z-index: -1;
    box-shadow: 0 2px 18px 1px rgba(49, 53, 72, 0.1);
    border-radius: 0.55rem !important;
} */

@media only screen and (max-width: 280px) {
    .marginBTN{
        margin-bottom: 25%;
    }
    .paddingDrop{
        padding-left: 15px;
    }
}
@media (min-width: 281px) and (max-width: 320px) {
    .marginBTN{
        margin-bottom: 25%;
    }
    .paddingDrop{
        padding-left: 15px;
    }
}
@media (min-width: 321px) and (max-width: 360px) {
    .marginBTN{
        margin-bottom: 25%;
    }
    .paddingDrop{
        padding-left: 15px;
    }
}
@media (min-width: 361px) and (max-width: 375px) {
    .marginBTN{
        margin-bottom: 25%;
    }
    .paddingDrop{
        padding-left: 15px;
    }
}

@media (min-width: 376px) and (max-width: 411px) {
    .marginBTN{
        margin-bottom: 25%;
    }
    .paddingDrop{
        padding-left: 15px;
    }
}
@media (min-width: 412px) and (max-width: 420px) {
    .marginBTN{
        margin-bottom: 25%;
    }
    .paddingDrop{
        padding-left: 15px;
    }
}
@media (min-width: 421px) and (max-width: 450px) {
    .marginBTN{
        margin-bottom: 25%;
    }
    .paddingDrop{
        padding-left: 15px;
    }
}
@media (min-width: 768px) and (max-width: 780px) {
    .marginBTN{
        margin-bottom: 25%;
    }
    .paddingDrop{
        padding-left: 15px;
    }
 
}
@media (min-width: 1000px) and (max-width: 1024px) {
    .marginBTN{
        margin-bottom: 25%;
    }
    .paddingDrop{
        padding-left: 15px;
    }
}