#petsList{
    border: none;
    overflow-x: hidden !important; /* Hide horizontal scrollbar */
}
.card-body {
    flex: 1 1 auto;
    padding: 0.5rem;
}
.left-value{
    float: right;
    color: #605ca8 !important;
}
.black{
    color: black;
}

.editButton{
    background-color: #605ca8 !important;
    color: white;
}
.editButton:hover{
    background-color: #605ca8 !important;
    color: white !important;
}
.badge {
    color: #fff !important;
    background-color: #605ca8 !important;
}
.card {
    border-radius: 0rem !important;
}
/* Firefox old*/
@-moz-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 

@-webkit-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
/* IE */
@-ms-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 
/* Opera and prob css3 final iteration */
@keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 
.blink-image {
    -moz-animation: blink normal 2s infinite ease-in-out; /* Firefox */
    -webkit-animation: blink normal 2s infinite ease-in-out; /* Webkit */
    -ms-animation: blink normal 2s infinite ease-in-out; /* IE */
    animation: blink normal 2s infinite ease-in-out; /* Opera and prob css3 final iteration */
}
.petpic {
  width: 90%;
  max-width: 135px;
  margin-right: 5px;
  float: right;
  text-align: center !important;
}
.pet-circle {
  position: relative;
  width: 110px;
  height:110px;
  padding-top: 0%;
  border-radius: 50%;
  background-color: white;
}
  .pet-circle:before {
    position: absolute;
    content: "";
    width: 116px;
    height: 115px;
    top: -2%;
    left: -2%;
    background-color: white;
    border-radius: 50%;
    z-index: 2;
    background-color: #fff;
  }
  .pet-circle:after {
    position: absolute;
    content: "";
    width: 123px;
    height: 123px;
    top: -6px;
    left: -6px;
    background-color: white;
    background-image: white;
    border-radius: 50%;
    z-index: 1;
  }
.petring:after {
    background-color: #605ca8;
    background-image: linear-gradient(to right bottom,#605ca8,#804FB3,#B589D6,#9969C7);
}
  .pet-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 1px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 11;
}
.pet-img {
    position: absolute;
    top: 0;
    left: 0%;
    height: 100%;
}
.normal-pet{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right:40px;
    padding: 3px;
    border: 3px solid #605ca8;
}
@media only screen and (max-width: 280px) {
    .btn-secondary {
        margin-bottom: 5px;
    }
    .petpic{
        text-align: center !important;
        margin-top: 0% !important;
        margin-left: 9% !important;
        margin-bottom: 10% !important;
    }
}
@media (min-width: 281px) and (max-width: 320px) {
    .petpic{
        text-align: center !important;
        margin-right: 0% !important;
        margin-bottom: 2% !important;
    }
    .md6{
        width: 50%;
    }
}
@media (min-width: 321px) and (max-width: 360px) {
    .petpic{
        text-align: center !important;
        margin-right: 9% !important;
        margin-bottom: 2% !important;
    }
    .md6{
        width: 50%;
    }
}
@media (min-width: 361px) and (max-width: 375px) {
    .petpic{
        text-align: center !important;
        margin-right: 13% !important;
        margin-bottom: 2% !important;
    }
    .md6{
        width: 50%;
    }
}

@media (min-width: 376px) and (max-width: 411px) {
    .petpic{
        text-align: center !important;
        margin-right: 17% !important;
        margin-bottom: 2% !important;
    }
    .md6{
        width: 50%;
    }
}
@media (min-width: 412px) and (max-width: 420px) {
    .petpic{
        text-align: center !important;
        margin-right: 18% !important;
        margin-bottom: 2% !important;
    }
    .md6{
        width: 50%;
    }
}
@media (min-width: 421px) and (max-width: 450px) {
    .petpic{
        text-align: center !important;
        margin-top: 0% !important;
        margin-left: 30% !important;
        margin-bottom: 10% !important;
    }
}
@media (min-width: 768px) and (max-width: 780px) {
    .petpic{
        text-align: center !important;
        margin-right: -4% !important;
        margin-bottom: 2% !important;
    }
    .md6{
        width: 50%;
    }
 
}
@media (min-width: 1000px) and (max-width: 1024px) {
    .petpic{
        text-align: center !important;
        margin-right: -1% !important;
        margin-bottom: 2% !important;
    }
    .md6{
        width: 50%;
    }
 
}