.nav.nav-tabs.nav-underline .nav-item a.nav-link:before {
    background: #605ca8;
}
.editButton{
    background-color: #605ca8 !important;
}
.editButton:hover{
    background-color: #605ca8 !important;
}

.img1{
    width:225px;
    height:225px;
}
#image-gallery,img{
    width: 100%;
}

@media only screen and (max-width: 280px) {
    .paddingDrop{
        padding-left: 15px !important;
    }
    .btn-secondary {
        margin-bottom: 5px;
    }
    .petpic{
        text-align: center !important;
        margin-top: 0% !important;
        margin-left: 9% !important;
        margin-bottom: 10% !important;
    }
    .datapet{
        margin-top: 5% !important;
        margin-right: 8% !important;
        margin-left: -10% !important;
        margin-bottom: 5% !important;
    }
    #pie-chart{
        margin-left: -5% !important;
    }
    .mobile{
        margin-top: 100% !important;
    }
    .breedtext{
        text-align: center;
        margin-left: 38% !important;
    }
    .actionBtn{
        width:60px;
        margin-bottom:3px !important;
        margin-top:3px !important;
        margin-right: 3px;
    }
}
@media (min-width: 281px) and (max-width: 320px) {
    .paddingDrop{
        padding-left: 15px !important;
    }
    .petpic{
        text-align: center !important;
        margin-top: 0% !important;
        margin-left: 17% !important;
        margin-bottom: 10% !important;
    }
    .datapet{
        margin-top: 5% !important;
        margin-right: 12% !important;
        margin-left: -5% !important;
        margin-bottom: 5% !important;
    }
    #pie-chart{
        margin-left: 6% !important;
    }
    .mobile{
        margin-top: 100% !important;
    }
    .breedtext{
        text-align: center;
        margin-left: 40% !important;
    }
    .actionBtn{
        width:60px;
        margin-bottom:3px !important;
        margin-top:3px !important;
        margin-right: 3px;
    }
}
@media (min-width: 321px) and (max-width: 360px) {
    .paddingDrop{
        padding-left: 15px !important;
    }
    .petpic{
        text-align: center !important;
        margin-top: 0% !important;
        margin-left: 22% !important;
        margin-bottom: 6% !important;
    }
    .datapet{
        margin-left: -5% !important;
        margin-top: 5% !important;
    }
    #pie-chart{
        text-align: center !important;
        margin-left: 12% !important;
    }
    .mobile{
        margin-top: 100% !important;
    }
    .breedtext{
        text-align: center;
        margin-left: 40% !important;
    }
    .actionBtn{
        width:60px;
        margin-bottom:3px !important;
        margin-top:3px !important;
        margin-right: 3px;
    }
}
@media (min-width: 361px) and (max-width: 375px) {
    .paddingDrop{
        padding-left: 15px !important;
    }
    .petpic{
        text-align: center !important;
        margin-top: 0% !important;
        margin-left: 24% !important;
        margin-bottom: 10% !important;
    }

    .datapet{
        margin-top: 5% !important;
        margin-right: 8% !important;
        margin-left: 0% !important;
        margin-bottom: 5% !important;
    }
    #pie-chart{
        margin-left: 16% !important;
    }
    .mobile{
        margin-top: 100% !important;
    }
    .breedtext{
        text-align: center;
        margin-left: 42% !important;
    }
    .actionBtn{
        width:60px;
        margin-bottom:3px !important;
        margin-top:3px !important;
        margin-right: 3px;
    }
}

@media (min-width: 376px) and (max-width: 411px) {
    .paddingDrop{
        padding-left: 15px !important;
    }
    .petpic{
        text-align: center !important;
        margin-top: 0% !important;
        margin-left: 27% !important;
        margin-bottom: 6% !important;
    }
    .datapet{
        margin-left: -4% !important;
        margin-top: 5% !important;
    }
    #pie-chart{
        text-align: center !important;
        margin-left: 20% !important;
    }
    .mobile{
        margin-top: 100% !important;
    }
    .breedtext{
        text-align: center;
        margin-left: 43% !important;
    }
    .actionBtn{
        width:60px;
        margin-bottom:3px !important;
        margin-top:3px !important;
        margin-right: 3px;
    }
}
@media (min-width: 412px) and (max-width: 420px) {
    .paddingDrop{
        padding-left: 15px !important;
    }
    .petpic{
        text-align: center !important;
        margin-top: 0% !important;
        margin-left: 28% !important;
        margin-bottom: 10% !important;
    }
    .datapet{
        margin-top: 5% !important;
        margin-right: 8% !important;
        margin-left: -2% !important;
        margin-bottom: 5% !important;
    }
    #pie-chart{
        margin-left: 20% !important;
    }
    .mobile{
        margin-top: 100% !important;
    }
    .breedtext{
        text-align: center;
        margin-left: 45% !important;
    }
    .actionBtn{
        width:60px;
        margin-bottom:3px !important;
        margin-top:3px !important;
        margin-right: 3px;
    }
}
@media (min-width: 421px) and (max-width: 450px) {
    .paddingDrop{
        padding-left: 15px !important;
    }
    .petpic{
        text-align: center !important;
        margin-top: 0% !important;
        margin-left: 30% !important;
        margin-bottom: 10% !important;
    }
    .datapet{
        margin-top: 5% !important;
        margin-right: 8% !important;
        margin-left: -5% !important;
        margin-bottom: 5% !important;
    }
    #pie-chart{
        margin-left: 25% !important;
    }
    .mobile{
        margin-top: 100% !important;
    }
    .breedtext{
        text-align: center;
        margin-left: 43% !important;
    }
    .actionBtn{
        width:60px;
        margin-bottom:3px !important;
        margin-top:3px !important;
        margin-right: 3px;
    }
}
@media (min-width: 768px) and (max-width: 780px) {
    .paddingDrop{
        padding-left: 15px !important;
    }
    .petimage{
        text-align: center !important;
        margin-top: 0% !important;
        margin-left: -3% !important;
        margin-bottom: 10% !important;
    }
    .datapet{
        margin-top: 5% !important;
        margin-right: 8% !important;
        margin-left: 12% !important;
        margin-bottom: 5% !important;
    }
    #pie-chart {
        margin-left: -30% !important;
    }
    .mobile{
        margin-top: 100% !important;
    }
    .breedtext{
        margin-left: 12% !important;
    }
    .actionBtn{
        width:60px;
        margin-bottom:3px !important;
        margin-top:3px !important;
        margin-right: 3px;
    }
}
@media (min-width: 781px) and (max-width: 823px) {
    .paddingDrop{
        padding-left: 15px !important;
    }
    .col-md-8{
        max-width: 50% !important;
        margin-left: 10% !important;
    }
}

#pie-chart{
    width: 170px;
    height: 170px;
}
svg{
    width: 200px !important;
    height: 200px !important;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #605ca8 !important;
    border-color: #605ca8 !important;
}

option:hover {
    color: #fff !important;
    background-color: #605ca8 !important;
    border-color: #605ca8 !important; 
}
table.dataTable.no-footer {
    border-bottom: 0px solid #e3ebf3 !important; 
}

.editB:hover{
    color: #fff !important;
    background-color: #605ca8 !important;
}
table th, .table td {
    padding: 0.75rem;
    vertical-align: middle;
    border-top: 1px solid #e3ebf3;
}
.table.table-de td {
    padding: 0.75rem 1rem !important;
}

.petpic {
    width: 90%;
    max-width: 135px;
    margin: 0% 0%;
    margin-top:10px;
  }
  
  .pet-circle {
    position: relative;
    width: 124px;
    height:124px;
    padding-top: 0%;
    border-radius: 50%;
    background-color: white;
  }
    .pet-circle:before {
      position: absolute;
      content: "";
      width: 130px;
      height: 130px;
      top: -2%;
      left: -2%;
      background-color: white;
      border-radius: 50%;
      z-index: 2;
      background-color: #fff;
    }
    .pet-circle:after {
      position: absolute;
      content: "";
      width: 137px;
      height: 137px;
      top: -6px;
      left: -6px;
      background-color: #605ca8;
      background-image: linear-gradient(to right bottom,#605ca8,#804FB3,#B589D6,#9969C7);
      border-radius: 50%;
      z-index: 1;
    }
  
    .pet-wrapper {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 1px;
      border-radius: 50%;
      overflow: hidden;
      z-index: 11;
  }
  .img-profile {
      position: absolute;
      top: 0;
      left: 0%;
      height: 100%;
  }

  /* Firefox old*/
@-moz-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 

@-webkit-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
/* IE */
@-ms-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 
/* Opera and prob css3 final iteration */
@keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 
.blink-contract {
    -moz-animation: blink normal 2s infinite ease-in-out; /* Firefox */
    -webkit-animation: blink normal 2s infinite ease-in-out; /* Webkit */
    -ms-animation: blink normal 2s infinite ease-in-out; /* IE */
    animation: blink normal 2s infinite ease-in-out; /* Opera and prob css3 final iteration */
}
.actionBtn{
    width:60px;
    /* margin-bottom:10px; */
    /* margin-top:10px; */
    margin-right: 5px;
}

